matplotlib==3.5.0
    # via
    #   -r requirements.in
    #   seaborn
numpy==1.21.0
    # via
    #   -r requirements.in
    #   contourpy
    #   matplotlib
    #   pandas
    #   scipy
    #   seaborn
